<h1>Twits sobre el aborto</h1>
<!--<a href="/tweet/view">Tweet</a>--> 
<% @tweets.each do |element| %>
  <tr>
  <li>
<%=element%>
<%=image_tag("http://img1.wikia.nocookie.net/__cb20111228065136/simpsons/images/1/11/Twitter_bird_icon.png", :size => "10x10", :crop => :fill)  %>
	
</li>
  </tr>
<% end %>

