<h1>Listing hastags_tweets</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hastags_tweets.each do |hastags_tweet| %>
      <tr>
        <td><%= link_to 'Show', hastags_tweet %></td>
        <td><%= link_to 'Edit', edit_hastags_tweet_path(hastags_tweet) %></td>
        <td><%= link_to 'Destroy', hastags_tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hastags tweets', new_hastags_tweet_path %>
